
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <title>Home</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Hello, Vijaya!</h1>
        <p class="lead">Whats up! I know you had a good day. Have you got something to record about your Sumanya... Plese do go ahead.</p>
        <hr class="my-4">
       
        
    </div>

       

</body>
</html>
